<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pm.appalfa">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppAlfa"
        tools:targetApi="31">
        <activity
            android:name=".admin.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".admin.EventActivity"
            android:exported="false" />
        <activity
            android:name=".admin.pengajuan.CariAlumniActivity"
            android:exported="false" />
        <activity
            android:name=".admin.pengajuan.PengajuanAlumniActivity"
            android:exported="false" />
        <activity
            android:name=".alumni.fitur.EditProfil"
            android:exported="false" />
        <activity
            android:name=".alumni.carialumni.DetailAlumni"
            android:exported="false" />
        <activity
            android:name=".alumni.tracerstudy.TracerStudyActivty"
            android:exported="false" />
        <activity
            android:name=".admin.MainActivityAdmin"
            android:exported="false" />
        <activity
            android:name=".signin_up.signup.GambarTerkirim"
            android:exported="false" />
        <activity
            android:name=".signin_up.signup.AmbilKamera"
            android:exported="false" />
        <activity
            android:name=".alumni.MainActivityAlumni"
            android:exported="false" />
        <activity
            android:name=".signin_up.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".splash.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>